services:
  db:
    image: mysql:8.0
    container_name: ecommerce-db
    restart: always                  
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: